<%- include('partials/header') %>

    <div class="container">
        <div class="joke">
            <img src="/images/lol.png" width="100" alt="Laugh out loud" />
            <% if (jokeType === 'single') { %>
                <p><%= joke %></p>
            <% } else if (jokeType === 'twopart') { %>
                <p><%= setup %></p>
                <p><%= delivery %></p>
            <% } else { %>
                <p>Please reload!</p>
            <% } %>
            <a class="buttonAnimation" href="/">Go back</a>
        </div>
    </div>

<%- include('partials/footer') %>