<%- include("header") %>

  <h1 id="greeting">Stay Organized with Your <%= listTitle %> Tasks</h1>
  <div class="instructions">
    <h3>General instructions</h3>
    <ul class="instructionList">
      <li>Enter new item to-do list</li>
      <li>Click '+' to add the item</li>
      <li>Click 'â˜' to delete item</li>
    </ul>
  </div>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(item =>{ %>
      <form action="/categories/delete/<%= listTitle %>" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
          <p><%=  item.name  %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
    <% }) %>

      <form class="item" action="/categories/<%= listTitle %>" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>
<%- include("footer") %>